html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
}

/* canvas {
  border: 1px solid red;
} */

body.game-playing button {
  display: none;
}

body.game-paused canvas {
  display: none;
}

body.game-playing canvas {
  display: initial;
}

button {
  font: inherit;
  border: 0;
  background: none;
  padding: 1em;
  font-size: 2em;
  color: black;
}
