* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-image: url('../images/background/kingdom.jpg'); */
}

/* canvas {
  border: 1px solid red;
} */

main.game-playing button {
  display: none;
}

main.game-paused canvas {
  display: none;
}

main.game-paused .tower-first button {
  display: none;
}

main.game-paused .tower-second button {
  display: none;
}

main.game-paused #start-wave {
  display: none;
}

main.game-playing #start-wave {
  display: flex;
  margin: 0 auto;
}

main.game-playing canvas {
  display: inherit;
}

main.game-playing .tower-first button {
  display: initial;
}

main.game-playing .tower-second button {
  display: initial;
}

#mage1.hide {
  display: none;
}

#cannon1.hide {
  display: none;
}

.start-game {
  font: inherit;
  border: 0;
  background: none;
  padding: 1em;
  font-size: 2em;
  color: black;
}
