* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background: black;
}

/* body {
  display: flex;
} */

.container {
  display: flex;
}

.game-paused {
  display: none;
}

#start-wave {
  width: 21.4vh;
}

.start-game {
  display: initial;
  background-color: #192592;
  border: none;
  border-radius: 0.3em;
  color: white;
  font-size: 2em;
  padding: 0.8em;
  width: 15vw;
  font-weight: bold;
}
.canvas-time {
  display: none;
}

body {
  background: url('../images/background/kingdom.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  display: inline-block;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #a7adc0;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
}

button {
  display: inline-block;
  width: 5vw;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #4a5680;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
}

#start {
  display: inline-block;
  background-color: #192592;
  border: none;
  border-radius: 0.3em;
  color: white;
  font-size: 2em;
  padding: 0.8em;
  width: 15vw;
  font-weight: bold;
}

.hide {
  display: none;
}

#reset {
  width: 21.4vh;
}

h3 {
  color: white;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul {
  list-style: none;
  margin-top: 3.5em;
  font-size: 1.2em;
  color: white;
  text-align: left;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

li {
  margin-top: 0.5em;
}
